* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
  }
  
  #item-1 {
    background-color: steelblue;
    width: 800px;
    height: 100vh;
    grid-area: item1;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
  }
  
  #item-2 {
    background-color: #fe7e02;
    width: 200px;
    height: 100vh;
    grid-area: item2;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
  }
  
  #item-3 {
    background-color: #45525b;
    width: 200px;
    height: 100vh;
    grid-area: item3;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
  }
  
  .container {
    height: 100vh;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 10px;
    grid-template-areas: 'item2 item1 item3';
  }

  @media screen and (max-width: 1000px) {
    .container {
      height: 80vh;
      max-width: 1000px;
      display: grid;
      grid-template-columns: 800px 200px;
      align-items: center;
      justify-items: start;
      gap: 10px;
      padding: 10px;
      grid-template-areas: 'item1 item3'
                           'item2 item2';
    }
    #item-2 {
      width: 1000px;
      height: 20vh;
    }
  }

  @media screen and (max-width: 800px) {
    .container {
      height: 80vh;
      max-width: 100vw;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: start;
      gap: 10px;
      padding: 10px;
      grid-template-areas: 'item1 item1'
                           'item2 item3';
    }
    #item-2 {
      width: 50vw;
      height: 20vh;
    }
    #item-3 {
      width: 50vw;
      height: 20vh;
    }
  }